header{
  background-image: url(https://livedoor.blogimg.jp/aoityatityutyetyon/imgs/f/f/ff0dbc66.jpg);
  backgroundsize: 1.5;
  padding-bottom:30px;
}
title{
  color: #e3e3e3;
  font-size:50px;
}
img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  padding: 20px;
}
.contains1{
  float: left;
  padding-left: 10px;
  font-size:20px;
}
